/* Shared */
.clear {
    clear: both;
}

.alert, .help-block {
    font: 14px "Helvetica Neue", "Helvetica", "Arial", "sans-serif";;
    /*text-align: center;*/
}

#header {
    margin-bottom: 20px;
}

html, body {
    margin-top: 10px;
}

a {
    color: #222222;
}

/* Homepage */

#value-prop {
    font: italic 18px/1.5em "Georgia", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    margin: 40px 0;
    text-align: center;
}

a button.homepage-buttons,
a button.contact-button {
    color: #222222;
    font: 18px "Futura", "Tahoma", "Helvetica", "Arial", "sans-serif";
}

button.homepage-buttons,
button.contact-button,
input[type='submit'] {
    background: #3DC989;
    border: none;
    padding: 10px 20px;
}

button.homepage-buttons:hover,
button.contact-button:hover,
input[type='submit']:hover {
    background: #F44A61;
}

#featured-title {
    margin: 60px 0 20px 0;
    text-align: center;
}

#featured-container {
    text-align: center;
    margin-bottom: 90px;
}

.featured-listing {
    background: #f0f0f0;
    border: 1px solid #eee;
    cursor: pointer;
    padding: 10px;
}
    .featured-listing:hover {
        background: #FCA24C;
    }
    .featured-listing p {
        font-size: 14px;
    }
    .featured-listing p.listing-title {
        text-transform: uppercase;
        text-decoration: underline;
    }
    .featured-listing p.listing-description,
    .featured-listing p.desks-available {
        font: 14px/1.5em "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }

button.homepage-buttons,
button.contact-button,
.featured-listing,
input[type='submit'],
.available-space {
    transition-property: text-shadow;
    transition-duration: 0.4s;
    transition-delay: 0s;
    -webkit-transition-property: color, border, background;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 0.4s;
    -moz-transition-delay: 0s;
}

/* Navbar */
.navbar a {
    font: 16px/1.5em "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/* List Space */
#list-space {
    margin: 10px 0 90px 0;
}
    #list-space h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    #list-space label {
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }




/* Spaces */

#spaces {
    margin-bottom: 90px;
}

.available-space {
    padding: 20px;
    background: #f0f0f0;
    border-bottom: 1px dashed #FC912A;
    cursor: pointer;
    line-height: 1.5em;
}
    .available-space:hover {
        background: #FC912A;
    }
    .available-space p {
        font-size: 16px;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }
    .available-space .listing-title {
        font-weight: bold;
        font-size: 18px;
    }
    .available-space .listing-description {
    }
    .available-space .desks-available {
    }
    .available-space .desk-price {
    }
    .available-space .lease-duration {
    }

.featured {
    padding: 20px;
    background: #f0f0f0;
    border: 1px dashed #F42945;
    cursor: pointer;
    line-height: 1.5em;
}
    .featured:hover {
        background: #F42945;
    }

h2#available-spaces {
    margin-bottom: 20px;
    text-align: center;
}



/* Listings */

#listing-success p {
    font: 16px/1.5em "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-align: center;
}
    #listing-success a {
        color: #3DC989;
    }
    #listing-success a:hover {
        color: #FCA24C;